
.edit_here
{
	/* TODO:edit here */

}

.btn_over
{
    color: rgb(2, 191, 191) !important;
    font-weight: bolder !important;
    border-bottom: 4px solid rgb(2, 191, 191) !important;
    padding-bottom: 20px !important;
}

.btn_over2
{
    color: #02bfbf !important;
}

.check_over
{
    background-color: rgb(2, 191, 191) !important;
	color: white !important;
}

