
@font-face {
	font-family: 'edit_here' ;
	

}

@font-face {
	font-family: 'Montserrat-Medium';
    font-weight: 900;
    src: url('../Assets/Font/Montserrat-Medium.ttf');
}

@font-face {
	font-family: 'NanumSquare';
    src: url('../Assets/Font/NanumSquareR.ttf');
}

